header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	background: linear-gradient(
		90deg,
		#672280 1.18%,
		#672280 1.19%,
		#8224a3 43.39%,
		#8524a6 47.5%,
		#a626d3 100%
	);
	color: white;
	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: right;
}

.headerImageDiv {
	display: flex;
	align-items: center;
	font-size: 21px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.1em;
	text-align: left;
}

.trollFace {
	width: auto;
	height: 100px;
	padding-right: 1rem;
}
